# Configuración Local (Persistente, no borra datos)
spring.datasource.url=jdbc:postgresql://localhost:5432/TU_DATABASE_LOCAL
spring.datasource.username=postgres
spring.datasource.password=admin

# ddl-auto=none (No modifica la estructura de la base de datos)
spring.jpa.hibernate.ddl-auto=none
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true

jwt.issuer.generator=UsochimochaBackend
jwt.secret.password=COLOCA_AQUI_UNA_CLAVE_SEGURA_DE_64_CARACTERES
