# Configuración de Desarrollo (Base de datos local de pruebas)
spring.datasource.url=jdbc:postgresql://localhost:5432/TU_DATABASE_DEV
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD

# ddl-auto=create-drop (Borra y crea tablas al iniciar)
spring.jpa.hibernate.ddl-auto=create-drop

jwt.issuer.generator=UsochimochaBackend
jwt.secret.password=COLOCA_AQUI_UNA_CLAVE_SEGURA_DE_64_CARACTERES
